@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 90px;
}