@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 100px;
}